---

---
<section id="hero" class="flex flex-col items-center justify-center p-16">
  <img src="/got-3d-logo-retro.png" width="450" height="auto" alt="Got 3D Prints" />
  <h1 class="text-5xl font-bold text-gray-900 text-center">COMING SOON!</h1>
</section>
