---
import "../styles/global.css"
import Navbar from "../components/navbar/navbar.astro"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" type="image/png" href="/got-3d-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Got 3D Prints</title>
  </head>
  <body>
    <div class="h-full flex flex-col">
      <!-- <Navbar /> -->
      <main class="pt-4">
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Zain", sans-serif;
    background-color: #ffb053;
    /* background-image: url("/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .zain-extralight {
    font-family: "Zain", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .zain-light {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .zain-regular {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .zain-bold {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .zain-extrabold {
    font-family: "Zain", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .zain-black {
    font-family: "Zain", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .zain-light-italic {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .zain-regular-italic {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
</style>
