---
import globalCss from "../styles/global.css"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" type="image/png" href="/got-3d-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Got 3D Prints</title>
    <link rel="stylesheet" href={globalCss} />
  </head>
  <body>
    <div id="container">
      <img id="background" src="/background.svg" alt="" fetchpriority="high" />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ffb053;
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
    height: 100%;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }
</style>
